<!DOCTYPE html>
<html>
  <head>
    <title>Grappling Education</title>
    <link rel="stylesheet" href="/stylesheets/bootstrap.css">
    <!-- <link rel="stylesheet" href="/stylesheets/custom_bootstrap.css"> -->
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <body>

  <div class="height">
  {{{body}}}
  </div>

  <div class="footer">
      <p>&copy; 2017 Grappling Education | All Rights Reserved</p>
  </div>

  <script src="/javascripts/style.js"></script>
  </body>
</html>



<!-- <script type="text/javascript"> -->

//
// <!-- <script type="text/javascript">
//   const nav = document.querySelector('#main');
//   const topOfNav = nav.offsetTop;
//
//   function fixNav() {
//     if(window.scrollY >= topOfNav) {
//       document.body.style.paddingTop = nav.offsetHeight + 'px';
//       document.body.classList.add('fixed-nav');
//       console.log(document.body.classList)
//     } else {
//       document.body.style.paddingTop = 0;
//       document.body.classList.remove('fixed-nav');
//     }
//   }

  // window.addEventListener('scroll', fixNav);
</script>
