<!DOCTYPE html>
<html>
  <head>
    <title>Grappling Education</title>
    <link rel="stylesheet" href="/stylesheets/bootstrap.css">
    <!-- <link rel="stylesheet" href="/stylesheets/custom_bootstrap.css"> -->
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <body>

  <header role="banner">
    <div class="row">
      <nav id="navbar-primary" class="navbar" role="navigation">
        <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
            <ul class="nav navbar-nav desktop">
              <li class="active"><a href="#">About</a></li>
              <li><a href="#">Athletes</a></li>
              <li><a href="/"><img id="logo-navbar-middle" src="http://res.cloudinary.com/df0hftplx/image/upload/v1496368346/GrapplingEducation_Icon_ojffw9.png" width="200" alt="Logo Thing main logo"></a></li>
              <li><a href="#">Programs</a></li>
              <li><a href="#">Contact</a></li>
            </ul>
        </div>
      </nav>
    </div>
  </header>

          {{#if success_msg}}
            <div class="alert alert-success">{{success_msg}}</div>
          {{/if}}

          {{#if error_msg}}
            <div class="alert alert-danger">{{error_msg}}</div>
          {{/if}}

          {{#if error}}
            <div class="alert alert-danger">{{error}}</div>
          {{/if}}

          {{{body}}}

          <div class="mastfoot">
            <div class="inner">
              <p>&copy; 2017 Grappling Education | All Rights Reserved</p>
            </div>
          </div>


  </body>
</html>
