<!DOCTYPE html>
<html>
  <head>
    <title>Grappling Education</title>
    <link rel="stylesheet" href="/stylesheets/bootstrap.css">
    <!-- <link rel="stylesheet" href="/stylesheets/custom_bootstrap.css"> -->
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/navbar.css">
    <link rel="stylesheet" href="/stylesheets/contact_form.css">
    <link rel="stylesheet" href="/stylesheets/footer.css">
    <link rel="stylesheet" href="/stylesheets/homepage.css">
  </head>
  <body>
    <div id="header" class="logo-homepage"></div>
      <div id="content">
        <nav id="navbar" class="navbar navbar-default" role="navigation">
            <div class="collapse navbar-collapse" id="navbar-primary-collapse">
              <ul class="nav navbar-nav header-font">
                <a href="/">
                  <li class="logo"><img class="logo-img" src="http://res.cloudinary.com/df0hftplx/image/upload/v1496462129/imageedit_31_2410809323_cgwddu.png" width="60px"></a></li>
                </a>
              </ul>
              <ul class="nav navbar-nav header-font">
                <li class="links-up"><a href="/">HOME</a></li>
                <li class="links-up"><a href="#">BOOKINGS</a></li>
                <li class="links-up"><a href="#">ATHELETES</a></li>
                <li class="links-up"><a href="#">PROGRAMS</a></li>
                <li class="links-up"><a href="/contact">CONTACT</a></li>
              </ul>
          </div>
        </nav>
      </div>
    {{#if success_msg}}
      <div class="alert alert-success">{{success_msg}}</div>
    {{/if}}

    {{#if error_msg}}
      <div class="alert alert-danger">{{error_msg}}</div>
    {{/if}}

    {{#if error}}
      <div class="alert alert-danger">{{error}}</div>
    {{/if}}
    <div class="height two-buffer two-buffer-below">
    {{{body}}}
    </div>
    <div class="footer">
      <div class="row">
        <div class="col-md-12 footer-links">
          <a href="https://www.facebook.com/grapplingeducation/" target="_blank">
            <img src="http://res.cloudinary.com/df0hftplx/image/upload/v1496480230/imageedit_42_6742842093_ol035b.png">
          </a>
          <a href="https://www.youtube.com/channel/UC33tN5BOY4sLLtk84IKFIdA" target="_blank">
            <img src="http://res.cloudinary.com/df0hftplx/image/upload/v1496480815/imageedit_48_6084226783_ifssyr.png">
          </a>
          <a href="https://www.instagram.com/kellerls/" target="_blank">
            <img src="http://res.cloudinary.com/df0hftplx/image/upload/v1496480884/imageedit_49_9772043250_wxw8ij.png">
          </a>
        </div>
      </div>
      <div class="row one-buffer">
        <p>&copy; 2017 Grappling Education | All Rights Reserved</p>
      </div>
    </div>
    <script src="/javascripts/image-slider.js"></script>
    <script src="/javascripts/style.js"></script>

    <script src="/javascripts/bootstrap.js"></script>
    </body>
</html>
