<iframe width="100%" height="790" src="https://www.youtube.com/embed/RuKaODn5QdQ" frameborder="0" allowfullscreen></iframe>

<div class="cv-background">
  <div class="container">
    <div class="col-md-6 col-md-offset-3 col-sm-12 cv-text">
      <h2 class="cv-name panel-title two-buffer two-buffer-below">Keller Locke-Sodhi <br>  Black Belt Judo ~ Black Belt BJJ</h2>
      <p class="cv-sub-heading">Teaching Experience:</p>
      <ul>
        <li>NCAS Level 1 Judo and Jiu-Jitsu Coach</li>
        <li>2 years Head Juniors Coach at Southern Jiu Jitsu Academy</li>
        <li>1.5 years Head Juniors Coach at Sutherland PCYC Judo Club</li>
      </ul>
      <p class="cv-sub-heading">Achievements 2014-2015:</p>
      <ul>
        <li>1st place Absolute brown belt Pan pacific championships</li>
        <li>1st place Absolute Brown and black GtA</li>
        <li>1st place Absolute Black Grappling Industries</li>
        <li>1st place NSW state championships Brown Absolute</li>
        <li>Competitor in ADCC KOREA</li>
      </ul>
      <p class="cv-sub-heading">Achievements 2013:</p>
      <ul>
        <li>Ben Lexcen Sport Scholar – Judo (UNSW)</li>
        <li>UNSW Blue Award (Judo)</li>
        <li>1st Place National ‘No Go’ Wrestling Champion, purple belt division</li>
        <li>1st Place Australian University Games - Winner of Champion of Champions division - Captain of University Team</li>
        <li>2nd Place Australian National Championships Judo</li>
        <li>Pan Pacific Champion Purple Belt Brazilian Jiu-Jitsu</li>
        <li>Member of The Australian National University Team Judo, competed at World University Games Russia</li>
      </ul>
      <p class="cv-sub-heading">Achievements 2012: </p>
      <ul>
        <li>Ben Lexcen Sport Scholar – Judo (UNSW) </li>
        <li>1st Place University Games - Winner of Champions of Champions division - Captain of University Team </li>
        <li>3rd Place Australian National Championships - Pan Pacific Champion Purple Belt Brazilian Jiu-Jitsu</li>
      </ul>
      <p class="cv-sub-heading">Other Notable Achievements: </p>
      <ul class="two-buffer-below">
        <li>Qualified for Judo World Titles 2013 </li>
        <li>Member of Australian National Judo Team for the last 5 years </li>
        <li>Selected for National Talent Identification Program as a Junior – an elite team conditioned for 2016 Rio Olympics </li>
        <li>Pan Pacific Champion in the adult division at the age of 17 </li>
        <li>Lived and trained in Japan, Europe and America</li>
      </ul>
    </div>
  </div>
</div>
