<div class="container two-buffer">
  <div class="row">
      <h1 class="headings">CONTACT US</h1>
  </div>
<hr/>

<div class="row">
  <div class="col-md-4 col-cs-12 contact-text two-buffer">
    <p>
      Hopefully our FAQs can answer most of your questions.
    </p>
    <p>
      In the event that you still have some unanswered, please send your enquiry via our contact form.
    </p>
    <p>
      Make sure the contact details are filled out so that we can get in touch with you.
    </p>
  </div>
  <div class="col-md-7 col-xs-12 col-xs-offset-1 two-buffer">
    <form class="form-horizontal" role="form" method="post" action="/contact">
      <div class="form-group">
        <!-- <label for="name" class="col-sm-2 control-label">Name</label> -->
        <div class="col-sm-10">
          <input type="text" class="form-control" name="name" placeholder="First & Last Name" required>
        </div>
      </div>
      <div class="form-group">
        <!-- <label for="email" class="col-sm-2 control-label">Email</label> -->
        <div class="col-sm-10">
          <input type="email" class="form-control" name="email" placeholder="Email" required>
        </div>
      </div>
      <div class="form-group">
        <!-- <label for="email" class="col-sm-2 control-label">Number</label> -->
        <div class="col-sm-10">
          <input type="tel" class="form-control" name="mobile" placeholder="Contact Number" >
        </div>
      </div>
      <div class="form-group">
        <!-- <label for="message" class="col-sm-2 control-label">Message</label> -->
        <div class="col-sm-10">
          <textarea class="form-control" rows="4" name="message" placeholder="Write your message here." required></textarea>
        </div>
      </div>
      <div class="form-group">
        <div class="submit-button one-buffer-below">
          <button type="submit" class="btn btn-default">Submit</button>
        </div>
      </div>
    </form>
  </div>
</div>
