

<div class="content-down">
  <div class="container">
    <div class="row">
        <h1 class="header-font">CONTACT US</h1>
    </div>
  <hr/>

  <div class="row">
    <div class="col-md-4 col-cs-12 contact-text">
      <p>
        Hopefully our FAQs can answer most of your questions.
      </p>
      <p>
        In the event that you still have some unanswered, please send your enquiry via our contact form.
      </p>
      <p>
        Make sure the contact details are filled out so that we can get in touch with you.
      </p>
    </div>
    <div class="col-md-7 col-xs-6">
      <form class="form-horizontal" role="form" method="post" action="/contact">
        <div class="form-group">
          <label for="name" class="col-sm-2 control-label">Name</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" name="name" placeholder="First & Last Name" required>
          </div>
        </div>
        <div class="form-group">
          <label for="email" class="col-sm-2 control-label">Email</label>
          <div class="col-sm-10">
            <input type="email" class="form-control" name="email" required>
          </div>
        </div>
        <div class="form-group">
          <label for="email" class="col-sm-2 control-label">Number</label>
          <div class="col-sm-10">
            <input type="tel" class="form-control" name="mobile">
          </div>
        </div>
        <div class="form-group">
          <label for="message" class="col-sm-2 control-label">Message</label>
          <div class="col-sm-10">
            <textarea class="form-control" rows="4" name="message" required></textarea>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-10 col-sm-offset-2">
            <button type="submit" class="btn btn-default">Submit</button>
          </div>
        </div>
      </form>
    </div>
  </div>


  <div class="row">
    <form class="form-inline two-buffer">
      <label for="name">Name</label>
      <input type="text" class="form-control" id="exampleInputName2" required>
      <label for="email">Email</label>
      <input type="email" class="form-control" id="exampleInputEmail2" required>
      <label for="mobile">Number</label>
      <input type="tel" class="form-control" id="exampleInputEmail2" required>
    </form>
  </div>
  <div class="row">
    <form class="form-inline one-buffer">
      <label for="message">Message</label>
      <textarea class="form-control" rows="2" name="message" required></textarea>
      <button type="submit" class="btn btn-default">Send invitation</button>
    </form>
  </div>

  </div>
</div>
