<section class="slider-pages desktop-only">
  <article class="js-scrolling__page js-scrolling__page-1 js-scrolling--active">
    <div class="slider-page slider-page--left">
      <div class="slider-page--skew">
        <div class="slider-page__content">
        </div>
        <!-- /.slider-page__content -->
      </div>
      <!-- /.slider-page--skew -->
    </div>
    <!-- /.slider-page slider-page--left -->

    <div class="slider-page slider-page--right">
      <div class="slider-page--skew">
        <div class="slider-page__content">

        </div>
        <!-- /.slider-page__content -->
      </div>
      <!-- /.slider-page--skew -->
    </div>
    <!-- /.slider-page slider-page--right -->
  </article>
  <!-- /.js-scrolling__page js-scrolling__page-1 js-scrolling--active -->


  <article class="js-scrolling__page js-scrolling__page-2">
    <div class="slider-page slider-page--left">
      <div class="slider-page--skew">
        <div class="slider-page__content">
          <h1 class="slider-page__title">

          </h1>
          <!-- /.slider-page__title -->

          <!-- /.slider-page__description -->
        </div>
        <!-- /.slider-page__content -->
      </div>
      <!-- /.slider-page--skew -->
    </div>
    <!-- /.slider-page slider-page--left -->

    <div class="slider-page slider-page--right">
      <div class="slider-page--skew">
        <div class="slider-page__content">
        </div>
        <!-- /.slider-page__content -->
      </div>
      <!-- /.slider-page--skew -->
    </div>
    <!-- /.slider-page slider-page--right -->
  </article>
  <!-- /.js-scrolling__page js-scrolling__page-2 -->


  <article class="js-scrolling__page js-scrolling__page-3">
    <div class="slider-page slider-page--left">
      <div class="slider-page--skew">
        <div class="slider-page__content">
        </div>
        <!-- /.slider-page__content -->
      </div>
      <!-- /.slider-page--skew -->
    </div>
    <!-- /.slider-page slider-page--left -->

    <div class="slider-page slider-page--right">
      <div class="slider-page--skew">
        <div class="slider-page__content">
          <h1 class="slider-page__title">
            <!-- Final is just the beginning -->
          </h1>
          <!-- /.slider-page__title -->
          <p class="slider-page__description">

          </p>
          <!-- /.slider-page__description -->
        </div>
        <!-- /.slider-page__content -->
      </div>
      <!-- /.slider-page--skew -->
    </div>
    <!-- /.slider-page slider-page--right -->
  </article>
  <!-- /.js-scrolling__page js-scrolling__page-3 -->
</section>
<!-- /.slider-pages -->


<div class="mobile-only one-buffer-below">
  <div class="col-sm-4 mobile-pic-one"></div>
  <div class="col-sm-4 mobile-pic-two"></div>
  <div class="col-sm-4 mobile-pic-three"></div>
</div>
<div class="container">
<h1 class="changing-text">Grappling Education <br> <span id="changingword">Brazilian Jiu Jitsu</span></h1>


  <div class="row homepage-about two-buffer mobile-about-homepage">
    <p>
      Grappling Education is a comprehensive booking platform for grappling lessons with our team of skilled grappling coaches.
    </p>
    <p>
      We offer private coaching in Brazilian Jiu Jitsu, Judo and Submission Wrestling. With over 20 years of competitive experience, our lessons are ideal students who are training with the intention to compete, tournament mindset, tactics goals and strength and conditioning programs in the lead up are our speciality.
    </p>
  </div>

  <div class="row two-buffer two-buffer-below">
    <div class="col-md-2 col-md-offset-5 button-center">
      <div type="button" class="btn" data-toggle="modal" data-target="#myModal">
        <svg>
          <rect x="0" y="0" fill="none" width="164" height="43" />
        </svg>
        BOOK NOW
      </div>
    </div>
  </div>

  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          Click on TODAY to get started then choose your desired time.
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </div>
        <div class="modal-body">
          <div id="bookingjs"></div>
          <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js" defer></script>
          <script src="//cdn.timekit.io/booking-js/v1/booking.min.js" defer></script>
          <script>
            window.timekitBookingConfig = {
              widgetId: 'ee51e49d-f0ce-4bfc-b909-ca9e55a6b6d9',
              fullCalendar: {
                    header: {
                      left:       '',
                      center:     '',
                      right:      'today, prev, next'   // not
                    }
              }
            }
          </script>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>
