
<div id="header" class="logo-homepage"></div>

<div id="content">
  <nav id="navbar" class="navbar navbar-default" role="navigation">
      <div class="collapse navbar-collapse" id="navbar-primary-collapse">
        <ul class="nav navbar-nav header-font">
          <li class="logo"><img class="logo-img" src="http://res.cloudinary.com/df0hftplx/image/upload/v1496462129/imageedit_31_2410809323_cgwddu.png" width="60px"></a></li>
        </ul>
        <ul class="nav navbar-nav header-font">
          <li class="links-up"><a href="#">HOME</a></li>
          <li class="links-up"><a href="#">ABOUT</a></li>
          <li class="links-up"><a href="#">ATHELETES</a></li>
          <li class="links-up"><a href="#">PROGRAMS</a></li>
          <li class="links-up"><a href="/contact">CONTACT</a></li>
        </ul>
    </div>
  </nav>
</div>



  {{#if success_msg}}
    <div class="alert alert-success">{{success_msg}}</div>
  {{/if}}

  {{#if error_msg}}
    <div class="alert alert-danger">{{error_msg}}</div>
  {{/if}}

  {{#if error}}
    <div class="alert alert-danger">{{error}}</div>
  {{/if}}
