<div class="container">

  <h1 class="changing-text">Grappling Education:
    <span class="txt-rotate fw700" data-period="2500" data-rotate='[ "JUDO", "BRAZILIAN JIU JITSU", "SUBMISSION WRESTLING"]'></span>
  </h1>

  <div class="row homepage-about two-buffer">
    <p>
      Grappling Education is a comprehensive booking platform for grappling lessons with our team of skilled grappling coaches.
    </p>
    <p>
      We offer private coaching in Brazilian Jiu Jitsu, Judo and Submission Wrestling. With over 20 years of competitive experience, our lessons are ideal students who are training with the intention to compete, tournament mindset, tactics goals and strength and conditioning programs in the lead up are our speciality.
    </p>
  </div>

  <div class="row two-buffer">
    <div class="col-md-2 col-md-offset-5">
      <div type="button" class="btn" data-toggle="modal" data-target="#myModal">
        <svg>
          <rect x="0" y="0" fill="none" width="164" height="43" />
        </svg>
        BOOK NOW
      </div>
    </div>
  </div>

  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
        {{> timekits }}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
</div>






<!--

<div class="row timekit-row">
  <div class="timekit-platform col-md-10 col-sm-12 col-md-offset-1">
    {{> timekits }}
  </div>
</div> -->
