<div class="container two-buffer two-buffer-below">
  <div class="row">
      <h1 class="headings">PROGRAMS</h1>
  </div>
  <hr/>
  <h4 class="one-buffer-below center-all">
    Grappling education is currently only offering private lessons.
  </h4>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        Fast Track Program
      </h4>
    </div>
      <div class="panel-body">
        Our Fast track program is designed for those whose main goal is to get a blue belt; emphasis will be put on goals towards achieving this.
      </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        Mentoring Program
      </h4>
    </div>
      <div class="panel-body">
        This program is designed for students who are focused on self-development and will do this through the means of our mentor program.
      </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        Competition Program
      </h4>
    </div>
      <div class="panel-body">
        This is aimed at students with a focus to compete. A target is set with first competition date 6 months from starting classes.
      </div>
  </div>

  <h4 class="one-buffer">
    For advanced students we will tailor private lessons to the student’s needs, competition, technique development or grappling specific strength and conditioning.  Please get in contact via our <a href="/contact">contact form</a> for any personal requirements, goals you would like to reach or any other questions you might have.
  </h4>

</div>
