
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 20px;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #151515;
  text-align: center;
}

.footer-links a {
  text-decoration: none
}

.footer-links img {
  width: 40px;
}

.admin-login a {
  color: #333333;
}

.admin-login a:hover {
    text-decoration: none;
    color: #195700;
}

.admin-login p {
  padding-top: 1em;
}
