body {
  /*background-image: url('http://res.cloudinary.com/df0hftplx/image/upload/v1496389606/opacity-logo-transparent2_uj572a.png');*/
  background-repeat: no-repeat;
  background-size: cover;
  /*overflow: hidden;*/
  /*margin-top: 5em;*/
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  cursor: pointer;
}

hr {
  border-color: #828282;
  padding-bottom: 2em;
}

.center-all {
  text-align: center;
}

.one-buffer {
  padding-top: 1em;
}

.two-buffer {
  padding-top: 2em;
}

.one-buffer-below {
  padding-bottom: 1em;
}

.two-buffer-below {
  padding-bottom: 2em;
}

.center-navigation {
  /*padding-left: 5em;*/
  margin-top: -6em;
}

.height {
  /*height: 1000px;*/
  margin-top: 100px;
}
